failure, error {
    font-family: monospace;
    white-space: pre;
    display: block;
    border-left: 7px solid red;
}
skipped {
    font-family: monospace;
    white-space: pre;
    display: block;
    /* orange border */
    border-left: 7px solid yellow;
}

testcase {
    margin-top: 0.5em;
    display: block;
}

testcase:before {
    font-size: 70%;
    font-weight: bold;
    color: grey;
    margin-left: 8px;
    content: attr(name) ":";
}

