/* General */

.heading {
	font-weight: normal;
	font-size: 1.6em;
	font-family: sans-serif;
	border-bottom: 1px solid #aaa;
}

#content {
	font-family: sans-serif;
	margin-left: 10%;
}

/* Main stats page */

.overview tr {
	font-weight: bold
}

.overview td {
	padding-left: 20px
}

.overview td + td {
	text-align: right
}

#flagged-reg {
	display: inline-block;
}

#graph tr {
	height: 60px;
}

#graph td[title='Perfect / no diffs'] {
	background: green
}

#graph td[title='Syntactic diffs'] {
	background: yellow
}

#graph td[title='Semantic diffs'] {
	background: red
}

/* results table views */

.results th {
	padding: 0 10px;
}

.results td {
	text-align: center;
}

.results td.title {
	text-align: left;
	padding-left: 0.4em;
}

.results tr[status='perfect'] td.title {
	border-left: 5px solid green;
}

.results tr[status='skip'] td.title {
	border-left: 5px solid orange;
}

.results tr[status='fail'] td.title { /* has fails and/or errors */
	border-left: 5px solid red;
}

/* Commits List */

.compare-reg {
	padding: 5px;
}

.hash {
	font-family: monospace;
	font-size: 1.2em;
	padding: 5px;
}

.date {
	color: black;
}

.revisions {
	border: 1px solid #e2eaee;
	border-collapse: collapse;
	color: gray;
}

.revisions td {
	border-bottom: 1px solid #e2eaee;
	padding-left: 5px;
}

.revisions td+td+td+td {
	padding-right: 30px
}

.revisions tr:last-child td {
	border-bottom: none;
}