{
  "extends": "wikimedia/server",
  "rules": {
    // These are somewhat agreed upon explicit divergences.
    "indent": ["error", "tab", {
      "SwitchCase": 1,
      "MemberExpression": "off",
      "CallExpression": { "arguments": "off" },
      "flatTernaryExpressions": true
    }],
    "one-var": ["error", { "initialized": "never" }],

    // These are a sign that you're writing a different version of Node than we might be running
    "no-restricted-syntax": "off",
    "no-restricted-properties": "off",

    "array-bracket-spacing": "off",
    "arrow-parens": "off",
    "camelcase": "off",
    "comma-dangle": "off",
    "comma-spacing": "off",
    "computed-property-spacing": "off",
    "key-spacing": "off",
    "max-statements-per-line": "off",
    "no-implicit-coercion": "off",
    "no-misleading-character-class": "off",
    "no-multi-spaces": "off",
    "no-multiple-empty-lines": "off",
    "no-redeclare": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "operator-linebreak": "off",
    "prefer-regex-literals": "off",
    "quote-props": "off",
    "quotes": "off",
    "space-before-function-paren": "off",
    "space-in-parens": "off",

    // The rest should be fixed up, gradually.
    "max-len": "off",
    "vars-on-top": "off",
    "wrap-iife": "off",
    "object-shorthand": "off",
    "func-style": "off",
    "multiline-ternary": "off",
    "sort-vars": "off",
    "default-case": "off",
    "consistent-this": "off",
    "guard-for-in": "off",

    "prefer-arrow-callback": "off",
    "prefer-template": "off",

    "no-tabs": "off",
    "no-var": "off",
    "no-console": "off",
    "no-control-regex": "off",
    "no-useless-concat": "off",
    "no-useless-escape": "off",
    "no-invalid-this": "off",
    "no-prototype-builtins": "off",
    "no-loop-func": "off",
    "no-throw-literal": "off",
    "no-lonely-if": "off",
    "no-nested-ternary": "off",
    "no-unmodified-loop-condition": "off",

    "no-buffer-constructor": "warn",

    "valid-jsdoc": "off",
    "jsdoc/newline-after-description": [0, "never"],
  }
}
