.svn
*~
*.kate-swp
.*.swp
.DS_Store
.deploy
npm-debug.log
node_modules

localsettings.js
config.yaml
!.pipeline/config.yaml
lib/wt2html/mediawiki.tokenizer.js
lib/wt2html/mediawiki.tokenizer.rules.js
tests/parserTests.cache

docs/
coverage/
contrib/
extensions/
nocks/
deploy/

composer.lock
vendor/
doc/
