[submodule "cpp/contrib/netsurf/libhubbub"]
	path = cpp/contrib/netsurf/libhubbub
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Parsoid/cpp/contrib/libhubbub.git
[submodule "cpp/contrib/folly"]
	path = cpp/contrib/folly
	url = git://github.com/facebook/folly.git
[submodule "cpp/contrib/double-conversion"]
	path = cpp/contrib/double-conversion
	url = https://code.google.com/p/double-conversion/
[submodule "cpp/contrib/pugixml"]
	path = cpp/contrib/pugixml
	url = git://github.com/zeux/pugixml.git
