.svn
*~
*.kate-swp
.*.swp
.DS_Store
.deploy


cpp/build

js/api/localsettings.js
js/api/nohup.out
js/api/npm-debug.log
js/node_modules/
js/tests/parserTests.cache
js/tests/client/config.js
js/tests/server/node_modules
js/tests/server/server.settings.js
js/doc
