.editorconfig export-ignore
.eslintignore export-ignore
.eslintrc export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gitreview export-ignore
.phan export-ignore
.phpcs.xml export-ignore
Doxyfile export-ignore
composer.json export-ignore
phpunit.xml.dist export-ignore
# ignore javascript code and docs
guides/ export-ignore
lib/ export-ignore
tests/mocha/ export-ignore
tools/*.js export-ignore
# don't export-ignore the tests directory, because core mediawiki
# wants to be able to run parserTests tests out of
# vendor/wikimedia/parsoid/tests/
