<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 beStrictAboutOutputDuringTests="true"
	 beStrictAboutTestsThatDoNotTestAnything="true"
	 bootstrap="./tests/phpunit/bootstrap.php"
	 colors="true"
	 convertErrorsToExceptions="true"
	 convertNoticesToExceptions="true"
	 convertWarningsToExceptions="true"
	 convertDeprecationsToExceptions="true"
	 failOnWarning="true"
	 verbose="true"
	 stderr="true"
	 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Parsoid Tests">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
