.deps
*.o
*.lo
*.la
*.a
*.so
.libs
build
contrib/peg-*/peg
contrib/peg-*/leg
php/Makefile
php/Makefile.fragments
php/Makefile.global
php/Makefile.objects
php/acinclude.m4
php/aclocal.m4
php/autom4te.cache/
php/build/
php/config.guess
php/config.h
php/config.h.in
php/config.log
php/config.nice
php/config.status
php/config.sub
php/configure
php/configure.in
php/install-sh
php/libtool
php/ltmain.sh
php/missing
php/mkinstalldirs
php/run-tests.php
test/test
