diff {
    font-family: monospace;
    white-space: pre;
    margin-top: 1em;
    display: block;
    border-left: 3px solid red;
}
skipped {
    font-family: monospace;
    white-space: pre;
    margin-top: 1em;
    display: block;
    /* orange border */
    border-left: 3px solid #ffa800;
}

