{{#jsFiles}}
	<script src='/static/js/jquery-min.js'></script>
	<script src='/static/js/commitList.js'></script>
	<script src='/static/js/app.js'></script>
{{/jsFiles}}

<h1 class='heading'>Revisions since {{latest}}</h1>

<div id='content'>
	<p>
		Compare selected revisions:
		<a class='compare-reg'>Regressions</a>
		<a class='compare-fix'>Fixes</a>
	</p>

	<table class='revisions'>
		{{~#each row~}}
			<tr>
				<td class='buttons'>
					<input type='radio' name='old' value='{{~hash~}}'>
					<input type='radio' name='new' value='{{~hash~}}'>
				</td>
				<td>
					{{#if regUrl}}<a href='{{regUrl}}' title='regressions from previous revision'>-</a>{{/if}}
				</td>
				<td>
					{{#if fixUrl}}<a href='{{fixUrl}}' title='fixes of previous revision'>+</a>{{/if}}
				</td>
				<td class='hash' title='{{hash}}'>{{formatHash hash}}</td>
				<td class='date' title='{{timestamp}}'>{{formatDate timestamp}}</td>
				<td>{{formatNumber numtests}} tests</td>
			</tr>
		{{~/each~}}
	</table>

	<p>
		Compare selected revisions:
		<a class='compare-reg'>Regressions</a>
		<a class='compare-fix'>Fixes</a>
	</p>
</div>