<b>
	{{heading}}
	{{~#if headingLink~}}
		{{~#each headingLink~}}
			&nbsp;| <a href='{{url}}' {{#if info}}title='{{info}}'{{/if}}>{{name}}</a>
		{{~/each~}}
	{{~/if~}}
</b>

{{~#if subheading~}}
	<br/>{{subheading}}
{{~/if~}}

{{~#if paginate~}}
	<p>
		{{~#if prev~}}
			<a href={{prevUrl urlPrefix urlSuffix page}}>Previous</a> |
		{{~else~}}
			Previous |
		{{~/if~}}
		{{~#if next~}}
			<a href={{nextUrl urlPrefix urlSuffix page}}>Next</a>
		{{~/if~}}
	</p>
{{~/if~}}

<p>
	<table class='results'>
		<tbody>
			<tr>
				{{~#each header~}}
					<th><b>
						{{~#if url~}}
							<a href='{{url}}'>{{name}}</a>
						{{~else~}}
							{{this}}
						{{~/if~}}
					</b></th>
				{{~/each~}}
			</tr>
			{{~#each row~}}
				<tr {{#if status}}status='{{status}}'{{/if}}>
					{{~#each tableData~}}
						<td {{#unless @index}}class='title'{{/unless}}>
							{{~#if info~}}
								<span title='{{info}}'>
							{{~/if~}}
							{{~#if title~}}
								<a href='{{titleUrl}}'>{{title}}</a> |
								<a target='_blank' href='{{lh}}'>@lh</a> |
								<a target='_blank' href='{{latest}}'>latest result</a> |
								<a href='{{perf}}'>perf</a>
							{{~else~}}
								{{~#if url~}}
									<a href='{{url}}'>{{name}}</a>
								{{~else~}}
									{{~#if type~}}
										{{formatPerfStat type value}}
									{{~else~}}
										{{this}}
									{{~/if~}}
								{{~/if~}}
							{{~/if~}}
							{{~#if info~}}
								</span>
							{{~/if~}}
						</td>
					{{~/each~}}
				</tr>
			{{~/each~}}
		</tbody>
	</table>
</p>
