/*
 * This is a sample configuration file.
 *
 * Copy this file to localsettings.js and edit that file to fit your needs.
 *
 * Also see the file ParserService.js for more information.
 */

exports.setup = function( config, env ) {
	// The URL here is supposed to be your MediaWiki installation root
	env.setInterwiki( 'localhost', 'http://localhost/wiki' );
};

exports.useSelser = false;

