/*
 * This is a sample configuration file.
 *
 * If any of the default settings below don't fit your needs, then please copy
 * this file to localsettings.js and edit that file to fit your needs.
 *
 * Also see the file ParserService.js for more information.
 */

exports.setup = function( config, env ) {
	// config.defaultInterwiki = 'localhost';
	env.setInterwiki( 'localhost', 'http://localhost/wiki' );
};
